*{
  padding: 0px;
  margin: 0px;
}
.nav_menu_hid{
  visibility: hidden;
  height: 20px;
}
/**{
  background-color: #0e161f;
}*/
.nav_menu{
  color: white;
  width: 100%;
  height: 63px;
  background-color: #0e161f;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  top: 83vh;
  /*
  margin-top: 138%;
  top: 92%;
  bottom: -60px;*/
}
.trend{
  
}
.home1{
  background-color: deepskyblue;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: -10px;
}
.se{
  
}
.icons{
  margin-left: 0px;
  display: flex;
}
.icons>a{
  margin:50px;
  margin-top: 4%;
}
.icons>p{
  margin:50px;
  margin-top: 4%;
}
.body2{
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}

.info{
  visibility: hidden;
}
.background{
  padding-top: 30px;
  height: 1030px;
}
.slider{
  visibility: hidden;
  display: none;
}
.cards{
  width: 100%;
  height: 200px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  overflow-x: visible;
  padding-left: 0%;
  transition: transform 1s;
}
.cards>div{
  transform: translateX(-0%);
  position: relative;
  margin-left: 0%;
}
#sl3,#sl2,#sl1,#sl5{
  width:80%;
  height: 140px;
  margin-top: 20px;
  margin-left: -25%;
  border-radius: 8px;
}
.sl4{
  height: 190px;

}
#sl3{
  margin-left: -10%;
}
#sl1{
  margin-left: -43%;
}
#sl4{
  width:80%;
  height: 190px;
  margin-top: 0px;
  margin-left: 5%;
  border-radius: 8px;
}
.dots{
  width: 100%;
  height: 30px;
  background-color: transparent;
  display:flex;
  align-items: center;
  justify-content: center;
}
#d1,#d2,#d3,#d4{
  border-radius: 100%;
  width: 5px;
  height: 5px;
  border: 1px solid white;
  margin-right: 5px;
}
#d4{
  background-color: white;
  width: 15px;
  border-radius: 20px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  bottom:0px;
  left: 5%;
  border-radius: 8px;
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgb(0,0,0));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  height: 0;
  transition: .5s ease;
}
#wt{
  background-color: deepskyblue;
  width: 80px;
  height: 40px;
  border: none;
  position: absolute;
  bottom: 20px;
  color: white;
  border-radius: 10px;
}
.sl4:hover .overlay {
  height: 100%;
}
.sl3:hover .overlay{
  height: 100%;
}
body {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 font-family: 'ubuntu';
 }
 a{
   text-decoration: none;
   color: white;
 }
 /*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}